<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" -->
<mapper namespace="com.aloha.security_method.mapper.CommentMapper">

		<!-- 등록 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="no">
        INSERT INTO comments ( id, board_no, parent_no, user_no, content )
        VALUES ( #{id}, #{boardNo}, #{parentNo}, #{userNo}, #{content} )
    </insert>

    <!-- 조회 -->
    <select id="select" resultType="Comments">
        SELECT c.no
              ,c.id
              ,board_no
              ,parent_no
              ,user_no
              ,content
              ,c.created_at
              ,c.updated_at
        FROM comments c JOIN
        WHERE id = #{id}
    </select>

		<!-- 목록 -->
    <select id="list" resultType="Comments">
        SELECT c.no
              ,c.id
              ,board_no
              ,parent_no
              ,user_no
              ,content
              ,c.created_at
              ,c.updated_at
        FROM comments c JOIN
        WHERE
    </select>

		<!-- 삭제 -->
    <delete id="delete">
        DELETE FROM comments
        WHERE id = #{id}
    </delete>

		<!-- 수정 -->
    <update id="update">
        UPDATE comments
        SET  parent_no = #{parentNo} 
            ,content = #{content}
            ,updated_at = now()
      WHERE id = #{id}
    </update>

    <!-- 게시글 기준 목록 -->
    <select id="listByParent" resultType="Comments">
        SELECT *
        FROM comments
        WHERE board_no = #{boardNo}
        ORDER BY parent_no DESC
                ,created_at ASC
    </select>

    <!-- 게시글 기준 삭제 -->
    <select id="deleteByParent">
        DELETE FROM comments
        WHERE board_no = #{boardNo}
    </select>

    <!-- 답글 목록 -->
    <select id="replyList" resultType="Comments">
        SELECT *
        FROM comments
        WHERE parent_no = #{parentNo}
          AND no != #{parentNo}
    </select>

    <!-- parentNo 기준 댓글 삭제 -->
    <delete id="deleteReplyByParent">
        DELETE FROM comments
        WHERE parent_no = #{parentNo}
    </delete>

</mapper>